@charset "utf-8";
table, td {
            background-color: #637463;
            color: white;
            border: solid 1px black;
            font-family: "Montserrat", sans-serif;
        }
        div {
            display: inline-block;
            margin: 5%;
        }

th img {
    height: 6.25rem;
}

@media only screen and (max-width: 480px) {

    div {
        margin: 5% auto;
    }

}
/* This css page helps make the catalog html reflexive with mobile screens as well as styles the html to aline with the rest of the webiste */