@charset "utf-8";
table, td {
            background-color: white;
            color: black;
            border: solid 1px black;
            font-family: "Monserrat", sans-serif;
        }
        div {
            display: inline-block;
            margin-right: 5%;
            margin-left: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
        }