@charset "utf-8";
table, td {
            background-color: #637463;
            color: white;
            border: solid 1px black;
            font-family: "Monserrat", sans-serif;
        }
        div {
            display: inline-block;
            margin: 5%;
        }

th img {
    height: 6.25rem;
}

@media only screen and (max-width: 480px) {

    div {
        margin: 5% auto;
    }

}