/* Form layout */
/* Elizanna: added styles and reflexive properties to the payment html to make it flow better with the rest of the website */
form#Customerinfo {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
   background-color: #637463;
    display: block;
    width: 95%;
    margin: .2rem auto;
    padding:.5rem;
    border-radius: 10px;
    
}
form#Customerinfo > fieldset {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
}
form#Customerinfo > fieldset > legend {
    background-color: #2b342b;
    
}

div.formRow {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 20px;
    
}


div.buttons {
    border: white solid 1px;
    margin: .2rem auto;
    padding:.5rem;

    display:-webkit-flex;
    display:flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content:center;
}

@media only screen and (max-width: 768px) {

    form#Customerinfo {
        margin:0px auto;
    }

}