/* Form layout */

form#Customerinfo {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
   background-color: #637463;
    display: block;
    width: 100%;
    margin: .2rem;
    padding:.5rem;
    border-radius: 10px;
    
}
form#Customerinfo > fieldset {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
}
form#Customerinfo > fieldset > legend {
    background-color: darkred;
    
}

div.formRow {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
    
}
