/* Form layout */

form#Customerinfo {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
   background-color: #637463;
    display: block;
    width: 100%;
    margin: .2rem auto;
    padding:.5rem;
    border-radius: 10px;
    
}
form#Customerinfo > fieldset {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    
}
form#Customerinfo > fieldset > legend {
    background-color: #2b342b;
    
}

div.formRow {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 20px;
    
}


div.buttons {
    border: white solid 1px;
    margin: .2rem auto;
    padding:.5rem;

    display:-webkit-flex;
    display:flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content:center;
}