@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Basic Webpage Setup*/

html {
    background-color: #202722;
    color: #f1fef5;
}

body {
    max-width: 99%;
    margin: 0px auto;
}

header {
    background-color: #637463;
    display:block;
    border-radius:5px;
}

/*Font Setup*/

h1, h2, h3, h4, h5, h6, li {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.2rem, 2vw, 2rem);
}

p {
    font-family: "Monserrat", sans-serif;
}

/*Header and Navigation*/

header nav.horizontal ul.main {
    max-width:100%;
    display:flex;
    display:-webkit-flex;

    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;

    list-style-type:none;
    justify-content:center;
    align-items:center;
}

header nav.horizontal ul.main li {
    flex: 1 2 15vw;
    -webkit-flex: 1 2 15vw;
    width: 15%;
    text-align:center;

    display:flex;
    display:-webkit-flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

header nav.horizontal ul.main li input {
    flex: 1 1 200px;
    -webkit-flex: 1 1 200px;
    margin: 0px 8px;
}

header nav.horizontal ul.main li a {
    display:flex;
    display:-webkit-flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

ul.main li a:link, ul.main li a:visited {
    color:white;
}

header nav.horizontal ul.main li a::after {
    margin-top: 0.1875rem;
    content:' \25B8';
}

header nav.horizontal ul.main li a:hover::after {
    content:' \25BE';
}

header nav.horizontal ul.main li:first-of-type > a::after {
    margin-top:0px;
    content:none;
}

header nav.horizontal ul.main li img {
    flex: 1 2 100%;
    -webkit-flex: 1 2 100%;
    max-width:100%;
}

