@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Basic Webpage Setup*/ /*Header worked on by Lukas*/

html {
    background-color: #202722;
    color: #f1fef5;
}

body {
    max-width: 99%;
    margin: 0px auto;
}

@keyframes toqRAINBOW {
    0%{background:linear-gradient(90deg, #8b6d6d 20%, #8b7f6d 50%, #8b896d 80%);}
    5%{background:linear-gradient(90deg, #8b6d6d 10%, #8b7f6d 30%, #8b896d 60%);}
    10%{background:linear-gradient(90deg, #8b7f6d 20%, #8b896d 50%, #728b6d 80%);}
    15%{background:linear-gradient(90deg, #8b7f6d 10%, #8b896d 30%, #728b6d 60%);}
    20%{background:linear-gradient(90deg, #728b6d 20%, #6d8b76 50%, #6d8b88 80%);}
    25%{background:linear-gradient(90deg, #728b6d 10%, #6d8b76 30%, #6d8b88 60%);}
    30%{background:linear-gradient(90deg, #6d8b76 20%, #6d8b88 50%, #6d7b8b 80%);}
    35%{background:linear-gradient(90deg, #6d8b76 10%, #6d8b88 30%, #6d7b8b 60%);}
    40%{background:linear-gradient(90deg, #6d8b88 20%, #6d8b88 50%, #6d6d8b 80%);}
    45%{background:linear-gradient(90deg, #6d8b88 10%, #6d7b8b 30%, #6d6d8b 60%);}
    50%{background:linear-gradient(90deg, #6d8b88 20%, #6d6d8b 50%, #796d8b 80%);}
    55%{background:linear-gradient(90deg, #6d8b88 10%, #6d6d8b 30%, #796d8b 60%);}
    60%{background:linear-gradient(90deg, #6d6d8b 20%, #796d8b 50%, #866d8b 80%);}
    65%{background:linear-gradient(90deg, #6d6d8b 10%, #796d8b 30%, #866d8b 60%);}
    70%{background:linear-gradient(90deg, #796d8b 20%, #866d8b 50%, #8b6d7b 80%);}
    75%{background:linear-gradient(90deg, #796d8b 10%, #866d8b 30%, #8b6d7b 60%);}
    80%{background:linear-gradient(90deg, #866d8b 20%, #8b6d7b 50%, #8b6d6f 80%);}
    85%{background:linear-gradient(90deg, #8b6d7b 10%, #8b6d7b 30%, #8b6d6f 60%);}
    90%{background:linear-gradient(90deg, #8b6d7b 20%, #8b6d6f 50%, #8b6d6d 80%);}
    95%{background:linear-gradient(90deg, #8b6d7b 10%, #8b6d6f 30%, #8b6d6d 60%);}
    100%{background:linear-gradient(90deg, #8b6d6f  20%, #8b6d6d 50%, #8b7f6d 80%);}
}

header {
    width: 100%;
    background-color: #637463;
    display:block;
    border-radius:5px;
    position:fixed;

    border-bottom: black solid 2px;
    z-index: 2;

    animation: toqRAINBOW 3s ease-in-out infinite;
}



/*Font Setup*/

h1, h2, h3, h4, h5, h6, li, dd, form {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

p{
    font-family: "Monserrat", sans-serif;
    word-spacing: .1rem;
    line-height: 1.2rem;
}

/*Header and Navigation*/

nav.horizontal, nav.horizontal2, ul.main{
    max-width:100%;
    display:flex;
    display:-webkit-flex;

    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;

    list-style-type:none;
    justify-content:center;
    align-items:center;
}

div.navicon {
    display:none;
}

ul.main{
    flex: 2 1 86vw;
    -webkit-flex: 2 1 86vw;
}

ul.submenu {
    display:none;
    position:fixed;
}

li:hover>a+ul.submenu, ul.submenu:hover {
    display:block;
    background-color:black;
}

div.logo {
    flex: 1 2 10vw;
    -webkit-flex:1 2 10vw;
}

ul.main li {
    flex: 1 2 15vw;
    -webkit-flex: 1 2 15vw;
    width: 15%;
    height:42px;
    text-align:center;

    display:flex;
    display:-webkit-flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

ul.submenu {
    top:43px;
    padding:10px;
    width:auto;
}

ul.submenu li {
    white-space:nowrap;
    width:100%;
}

nav.horizontal ul.main li input, nav.horizontal2 ul.main li input {
    flex: 0 1 100px;
    -webkit-flex: 0 1 100px;
    
}

nav.horizontal ul.main li a, nav.horizontal2 ul.main li a {
    display:flex;
    display:-webkit-flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    height:100%;
}

ul.main li a:link, ul.main li a:visited {
    color:white;
}

nav.horizontal ul.main li a::after, nav.horizontal2 ul.main li a::after {
    margin-top: 0.1875rem;
    content:' \25B8';
}

nav.horizontal ul.main li a:hover::after, nav.horizontal2 ul.main li a:hover::after {
    content:' \25BE';
}

nav.horizontal2 ul.main li:first-of-type > a::after, nav.horizontal ul.main li:nth-of-type(5) > a::after, nav.horizontal li ul.submenu li > a::after, nav.horizontal li ul.submenu li > a:hover::after{
    content:none;
}

nav.horizontal img, nav.horizontal2 img {
    max-width:100%;
}

footer {
    background-color: #637463;
    text-align:center;
    border-radius: 5px;
}




@media only screen and (max-width: 768px) {

    header {
        position:relative;
    }

    nav.horizontal2, ul.main {
        display:none;
    }

    nav.horizontal {
        justify-content:left;
    }

    div.navicon {
        display: flex;
        display:-webkit-flex;
        width:35%;
    }

    div.logo img {
        flex: none;
        width: 50%;
    }



    div.navicon:hover~ul.main, nav.horizontal ul:hover{
        display:flex;
        display:-webkit-flex;
    }

    ul.main {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        background-color:  #637463;
        border-right:black solid 5px;
        position:fixed;

        height:100%;
        width: 185px;
        bottom:0px;
    }

    ul.main li {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        width:100%;

        border-bottom: #384238 solid 3px;
    }

    ul.main li:last-of-type {
        flex: 0 1 50px;
        -webkit-flex: 0 1 50px;
    }

    ul.main li a {
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
    }


    ul.submenu {
        top:auto;
        left: 184px;
        min-width:25%;
    }

    ul.main > li:first-of-type > ul.submenu {
        top:0px;
    }

    li:hover>a+ul.submenu, ul.submenu:hover {
        display:block;
        background-color:black;
    }

}