@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Basic Webpage Setup*/

html {
    background-color: #202722;
}

body {
    max-width: 99%;
    margin: 0px auto;
}

header {
    background-color: #637463;
    display:block;
}

/*Font Setup*/

h1, h2, h3, h4, h5, h6, li {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Monserrat", sans-serif;
}

/*Header and Navigation*/

header ul {
    display:flex;
    display:-webkit-flex;

    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;

    list-style-type:none;
    justify-content:center;
    align-items:center;
}

header ul li {
    flex-basis: 1 2 12em;
    width: 15%;
    text-align:center;
    font-size: 2.5em;
}

header ul li img {
    max-width: 50%;
}