@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Basic Webpage Setup*/

html {
    background-color: #202722;
    color: #f1fef5;
}

body {
    max-width: 99%;
    margin: 0px auto;
}

header {
    width: 100%;
    background-color: #637463;
    display:block;
    border-radius:5px;
    position:fixed;

    border-bottom: black solid 2px;
    z-index: 2;
}



/*Font Setup*/

h1, h2, h3, h4, h5, h6, li, dd, form {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.2rem, 2vw, 2rem);
}

p, dd.lower{
    font-family: "Monserrat", sans-serif;
    word-spacing: .1rem;
    line-height: 1.2rem;
}

/*Header and Navigation*/

nav.horizontal, nav.horizontal2, ul.main{
    max-width:100%;
    display:flex;
    display:-webkit-flex;

    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;

    list-style-type:none;
    justify-content:center;
    align-items:center;
}

div.navicon {
    display:none;
}

ul.main{
    flex: 2 1 86vw;
    -webkit-flex: 2 1 86vw;
}

div.logo {
    flex: 1 2 10vw;
    -webkit-flex:1 2 10vw;
}

nav.horizontal ul.main li, nav.horizontal2 ul.main li {
    flex: 1 2 15vw;
    -webkit-flex: 1 2 15vw;
    width: 15%;
    text-align:center;

    display:flex;
    display:-webkit-flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

nav.horizontal ul.main li input, nav.horizontal2 ul.main li input {
    flex: 1 1 200px;
    -webkit-flex: 1 1 200px;
    margin: 0px 8px;
}

nav.horizontal ul.main li a, nav.horizontal2 ul.main li a {
    display:flex;
    display:-webkit-flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

ul.main li a:link, ul.main li a:visited {
    color:white;
}

nav.horizontal ul.main li a::after, nav.horizontal2 ul.main li a::after {
    margin-top: 0.1875rem;
    content:' \25B8';
}

nav.horizontal ul.main li a:hover::after, nav.horizontal2 ul.main li a:hover::after {
    content:' \25BE';
}

nav.horizontal2 ul.main li:first-of-type > a:after {
    content:none;
}

nav.horizontal img, nav.horizontal2 img {
    max-width:100%;
}

footer {
    background-color: #637463;
    text-align:center;
    border-radius: 5px;
}




@media only screen and (max-width: 768px) {

    header {
        position:relative;
    }

    nav.horizontal2, ul.main {
        display:none;
    }

    nav.horizontal {
        justify-content:left;
    }

    div.navicon {
        display: flex;
        display:-webkit-flex;
        width:35%;
    }

    div.logo img {
        flex: none;
        width: 50%;
    }



    div.navicon:hover~ul.main, nav.navhead ul.main:hover {
        display:flex;
        display:-webkit-flex;
        flex-flow: column nowrap;
        background-color:  #637463;
        position:fixed;

        height:95%;
        bottom:0px;
    }

    ul.main li {
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
    }

}