/*Video Game of The Week Section*/

/* * vgow class (stands for - you guessed it - Video Game of the Week. Same with iow (or Item of the Week)*/

section {
    display:flex;
    display:-webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;

    background-color: #637463;
    max-width: 70%;
    margin: .2rem;
    padding:.5rem;

    border-radius: 10px;
}

section div.col-1 > h1 {
    text-indent: 10px;
    font-size:clamp(1.2rem, 2.5vw, 2.5rem);
    font-style:italic;
}

/*Sections of Video Game of the Week Box/Item of the Week Box*/

section div[class^="col-"] {
    display:flex;
    display:-webkit-flex;

    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
}

section div.col-1 {width: 65%;}
section div.col-2 {width:35%;}

section.vgow div.gameMedia {
    display:flex;
    display:-webkit-flex;
    flex-flow:row nowrap;
    -webkit-flex-flow: row nowrap;

    margin: 0px 2px;
    padding: 5px;
}

section.vgow img {
    width: 35%;
}

section.vgow video {
    width: 65%;
    animation-play-state:paused;
}

/*section.vgow:hover {

}*/