/*Video Game of The Week Section*/

/* * vgow class (stands for - you guessed it - Video Game of the Week. Same with iow (or Item of the Week)*/

section {
    display:flex;
    display:-webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;

    background-color: #637463;
    max-width: 70%;
    margin: .2rem;
    padding:.5rem;

    border-radius: 10px;
}

section div.col-1 > h1 {
    text-indent: 10px;
    font-size:clamp(1.2rem, 2.5vw, 2.5rem);
    font-style:italic;
}

/*Sections of Video Game of the Week Box/Item of the Week Box*/

section div[class^="col-"] {
    display:flex;
    display:-webkit-flex;

    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
}

section div.col-1 {width: 65%;}
section div.col-2 {width:35%;}

section.vgow div.gameMedia {
    display:flex;
    display:-webkit-flex;
    flex-flow:row nowrap;
    -webkit-flex-flow: row nowrap;

    margin: 0px 2px;
    padding: 5px;
}

section.vgow img {
    width: 35%;
}

section.vgow video {
    width: 65%;
    animation-play-state:paused;
}

@keyframes spin {
   0% {transform:rotate(0deg);}

   23% {transform:rotate(0deg);}

   28% {transform:rotate(90deg);}

   39% {transform:rotate(90deg);}

   42% {transform:rotate(180deg);}

   68% {transform:rotate(180deg);}

   72% {transform:rotate(270deg);}

   90% {transform:rotate(270deg);}

   94% {transform:rotate(360deg);}

   100% {transform:rotate(360deg);}
}

video {
   animation: spin 4s linear infinite;
}

section.vgow:hover > div.col-1 > div.gameMedia > video {
    border: white solid 5px;
    animation-play-state:running;
}

section.vgow:not(:hover) > div.col-1 > div.gameMedia > video {
    border: black solid 5px;
    animation-play-state:paused;
}