
div.dontbreakheader {
    display:flex;
    display:-webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow:row nowrap;
}

div.notpopular {
    width:75%;
    display:flex;
    display:-webkit-flex;
    flex-flow: column nowrap;
    -webkit-flex-flow:column nowrap;
}

/*Video Game of The Week Section*/

/* * vgow class (stands for - you guessed it - Video Game of the Week. Same with iow (or Item of the Week)*/

section.vgow {
    display:flex;
    display:-webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;

    background-color: #637463;
    width: 100%;
    margin: .2rem;
    padding:.5rem;

    border-radius: 10px;
}

section.vgow div.col-1 > h1 {
    text-indent: 10px;
    font-size:clamp(1.2rem, 2.5vw, 2.5rem);
    font-style:italic;
}

/*Sections of Video Game of the Week Box/Item of the Week Box*/

section.vgow div[class^="col-"] {
    display:flex;
    display:-webkit-flex;

    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
}

section div.col-1 {width: 65%;}
section div.col-2 {width:35%;}

section.vgow div.gameMedia {
    display:flex;
    display:-webkit-flex;
    flex-flow:row nowrap;
    -webkit-flex-flow: row nowrap;

    margin: 0px 2px;
    padding: 5px;
}

section.vgow img {
    width: 35%;
}

section.vgow video {
    width: 65%;
}

audio {
    display: block;
    margin: auto;
    width: 80%;
}

/* Recent Video Games styles section */

section.recents {
    background-color: #637463;
    display: block;
    width: 100%;
    margin: .2rem;
    padding:.5rem;
    border-radius: 10px;
}

section.recents > img#silent {
    width: auto;
    height: 300px;
    padding-right: 32px;
    
}
section.recents > img#ghost {
    width: auto;
    height: 300px;
    padding-right: 32px;
}

section.recents > img#little {
width: auto;
height: 300px;
padding-right: 32px;
}

section.recents > img#cod {
    width: auto;
    height: 300px;
    
}
    

/*Popular Items Marquee*/

section.popular {
    width:30%;
    margin-left: 20px;
}

section.popular marquee{
    position:fixed;
    text-align:center;

    background:linear-gradient(black, #637463);
    border-radius:20px;
}