
div.dontbreakheader {
    display:flex;
    display:-webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow:row nowrap;
}

div.notpopular {
    width:75%;
    display:flex;
    display:-webkit-flex;
    flex-flow: column nowrap;
    -webkit-flex-flow:column nowrap;
}

/*Video Game of The Week Section*/

section {
    background: linear-gradient(180deg, #384238 2%, #637463 25%);
}

/* * vgow class (stands for - you guessed it - Video Game of the Week. Same with iow (or Item of the Week)*/

section.vgow {
    display:flex;
    display:-webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    

    background-color: #637463;
    width: 100%;
    margin: .2rem;
    padding:.5rem;

    border-radius: 10px;
}

section h1 {
    text-indent: 10px;
    font-size:clamp(1.2rem, 2.5vw, 2.5rem);
    font-style:italic;
    text-decoration:underline dashed;
    border-radius:15px;
}

/*Sections of Video Game of the Week Box/Item of the Week Box*/

section.vgow div[class^="col-"] {
    display:flex;
    display:-webkit-flex;

    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
}

section div.col-1 {flex: 1 2 900px;}
section div.col-2 {flex: 1 2 400px;}

section.vgow div.gameMedia {
    height:100%;
    display:flex;
    display:-webkit-flex;
    flex-flow:row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items:center;

    margin: 0px 2px;
    padding: 5px;
}

section.vgow img {
    width: 32.5%;
}

section.vgow video {
    width: 60%;
}

audio {
    display: block;
    margin: 1rem auto auto;
    width: 80%;
}

/* Recent Video Games styles section */

section.recents {
    background-color: #637463;
    display: flex;
    display:-webkit-flex;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    width: 100%;
    margin: .2rem;
    padding:.5rem;
    border-radius: 10px;
}

div.imgbox {
    display: flex;
    display:-webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow:row nowrap;
    width:100%;
}

div.img {
    flex: 1 2 auto;
    -webkit-flex: 1 2 auto;
    display: flex;
    display:-webkit-flex;
    justify-content:center;
}

/*! ELABORATE ON THE CHANGE YOU (Lukas) MADE BELOW*/

div.img > img {
    width: auto;
    height: 18.75rem; }
    

/*Popular Items Marquee*/

section.popular {
    width:30%;
    margin-left: 20px;
}

section.popular marquee{
    position:fixed;

    background:linear-gradient(180deg,black, #637463 4%);
    border-radius:20px;
}

marquee div.item {
    display:flex;
    display:-webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow:row nowrap;
    margin:10px 0px;
    text-align:center;
}

marquee > div.item > h1 {
    background:transparent;
}

marquee div.item:first-of-type h1{
    width:100%;
}

marquee img{
    width: min(9.75rem,40%);
}

dt {flex: 1 2 200px; -webkit-flex: 1 2 180px;}
dd {display:flex; display:-webkit-flex; flex: 1 2 200px; -webkit-flex: 1 2 200px; justify-content:center; align-items:center;}

/* For Screens 0 to 480px */
@media only screen and (max-width: 768px) {
     section.vgow {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        
    }

    section div.col-1 {flex: 1 2 200px;}
    section div.col-2 {flex: 1 2 400px;}

    /*div.img > img {
         
    }*/
}



/*Footer*/
footer {
    width: 100%;
}